// Colors adjusted in: node_modules/bootstrap/scss/_variables.scss

// Base colors
$brand-primary:       	#11536D;
$brand-secondary:     	#222222;
$brand-success:       	#F95555;
$brand-info:          	#74C9E5;
$brand-warning:       	#EFBB3A;
$brand-danger:      	#F95555;

$primary:       		#11536D;
$secondary:     		#28ADD8;
$success:       		#F95555;
$info:          		#74C9E5;
$warning:       		#EFBB3A;
$danger:      		  	#F95555;

$transparent-blue:		#74C9E5;
$transparent-red:		#FC7474;
$transparent-mix:		#734A5C;