.edit-question--container {
	border: 1px solid $gray-400;
	
}

.edit-question {
	.edit-question--input {
		border-bottom: 1px solid $gray-400;
	}
	.edit-question--input, .edit-question--output {
		padding: 2rem 0;
	}
}