.hints {
	margin-bottom: 1rem;
}

.hint--container {
	cursor: pointer;

	.hint__reveal {
		position: relative;
		// border: 1px solid $gray-700;
		border: 1px solid $gray-200;
		padding: 1rem;
		.hint__blind {	
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fdfdfd;
			color: #000000;
		    // box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
			border-radius: 0.2rem;
		    h4, h5 {
		    	width: 100%;
		    	text-align: center;
		    	margin: 0;
		    }
		}
	}
}

