.code {
	// background: red;
	font-family: 'Source Code Pro', monospace;
	background: $gray-200;
	padding: 0 .5rem;
}

.code--block {
	background: $gray-200;
}

.code__last {
	margin-bottom: 1rem;
}

.textboi--block {
	display: block;	
	margin-bottom: 1rem;
}